.padding {
    padding: 20px;
}
.font {
    font-family: 'Anton', sans-serif;
    color: white;
}
.bg-number {
    background-color: rgb(rgb(124, 117, 117), rgb(130, 138, 130), rgb(107, 107, 119));
}
